body {
    padding: 0;
    margin: 0;
    background-color: #fbb12f;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    margin: 20px;
}

.ul {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@import './shapes/heart';
@import './shapes/camera';
@import './shapes/calendar';
@import './shapes/pc';
@import './shapes/paperclip';
@import './shapes/delete';
@import './shapes/loudspeaker';
@import './shapes/lamp';


// CORE 

@import './core/typography'