body {
    padding: 0;
    margin: 0;
    background-color: #fbb12f;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import './shapes/heart';
@import './shapes/camera';
@import './shapes/calendar';
@import './shapes/pc';
@import './shapes/paperclip';
@import './shapes/delete';