.delete {
    font-size: 250px;
    height: 0.5em;
    width: 0.4em;
    border: 0.07em solid #fff;
    border-radius: 0 0 0.04em 0.05em;
    background-image: linear-gradient(
        to right,
        transparent 0.17em,
        #fff 0.17em,
        #fff 0.24em,
        transparent 0.24em
    );
    position: relative;

    &::before {
        position: absolute;
        content: '';
        height: 0.07em;
        width: 0.65em;
        background-color: #fff;
        left: -0.125em;
        bottom: 0.6em;
    }

    &::after {
        position: absolute;
        content: '';
        height: 0;
        width: 0.25em;
        border-bottom: 0.07em solid #fff;
        border-left: 0.02em solid transparent;
        border-right: 0.02em solid transparent;
        left: 0.055em;
        bottom: 0.67em;
    }
}