.heart {
    height: 150px;
    width: 150px;
    background-color: #fff;
    transform: rotate(45deg);

    &::before {
        position: absolute;
        content: '';
        background-color: #fff;
        height: 60%;
        width: 100%;
        top: -59%;
        border-radius: 75px 75px 0 0;
    }
    
    &::after{
        position: absolute;
        content: '';
        background-color: #fff;
        height: 60%;
        width: 100%;
        transform: rotate(-90deg);
        top: 20%;
        right: 79%;
        border-radius: 75px 75px 0 0;
    }
}