.lamp {
    font-size: 300px;
    height: 0;
    width: 0.45em;
    border-bottom: 0.4em solid #fff;
    border-left: 0.08em solid transparent;
    border-right: 0.08em solid transparent;
    position: relative;
    margin-bottom: .5em;

    &::before {
        content: '';
        position: absolute;
        background-color: #fff;
        height: 0.37em;
        width: 0.04em;
        margin: auto;
        top: 0.4em;
        left: 0;
        right: 0;
        box-shadow: 0.18em -0.28em 0 -0.01em #fff;
    }

    &::after {
        content: '';
        position: absolute;
        background-color: #fff;
        height: 0.04em;
        width: .35em;
        top: 0.77em;
        margin: auto;
        left: 0;
        right: 0;
    }
}