.pc {
    font-size: 250px;
    height: .34em;
    width: .62em;
    border: .05em solid #fff;
    border-radius: .03em;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        height: .05em;
        width: .93em;
        background-color: #fff;
        bottom: -0.205em;
        left: -.15em;
        border-radius: 0.05em;
    }

    &::after{
        position: absolute;
        content: '';
        background-color: #fff;
        height: 0.2em;
        width: .05em;
        bottom: -0.4em;
        left: -0.07em;
        border-radius: 0 0 0.05em 0.05em;
        box-shadow: 
        0.72em 0 0 0 #fff,
        0.36em -0.2em 0 0 #fff
        ;
    }
}